/* FriendsCreateButton */
.friedsCreateButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
  border-style: solid;
  border-color: #ed6991;
  border-radius: 50%;
  cursor: pointer;
  filter: opacity(0.3) drop-shadow(0 0 0 #ed6991);
}

/* Notice */
.Notice {
  position: fixed;
  top: 0;
  right: 0;
  margin: 50px;
  cursor: pointer;
}

.Notice__icon {
  width: 50px;
  height: 50px;
}

.Notice__friendRequest {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* FriendsListItem */

.friend__header {
  display: flex;
  align-items: center;
}

.friend__avatar {
  margin: 15px;
}

.friend__plusIcon {
  position: relative;
  left: 500px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}