.MyStyleHat {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  margin-left: 70px;
}

.MyStyleShirts {
  max-width: 400px;
  max-height: 400px;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 70px;
}

.MyStylePants {
  max-width: 400px;
  max-height: 400px;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 70px;
}

.MyStyleShoes {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 70px;
}

.MyStyleOthers {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  margin-right: 80px;
}

.MyStyleOuter {
  max-width: 400px;
  max-height: 400px;
  vertical-align: middle;
  margin-top: 70px;
  margin-right: 80px;
}

.MyStyleBag {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  margin-top: 70px;
  margin-right: 80px;
}
