.MyClosetContainer {
  display: flex;
  width: 100%;
}

.MyCloset__Nav {
  background-image: url('../../assets/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
