
/* MyClosetClothesItem */

.MyClosetClothesItemImg {
  transition: all 0.2s linear;
}

.MyClosetClothesItemImg:hover {
  transform: scale(1.15, 1.15);
}

/* MyClosetSidebarItem */

.MyClosetSidebarItemButton {
  margin: 2px;
}

.MyClosetSidebarItemButton > button {
  border: 0;
  outline: 0;
}

.RadioForm {
  /* display: flex; */
  width: 100%;
}

.form-check-input {
  margin: 4px;
}