
/* MyClosetClothesItem */

.MyClosetClothesItemImg {
  transition: all 0.2s linear;
}

.MyClosetClothesItemImg:hover {
  transform: scale(1.15, 1.15);
  background-color : white;
}

/* MyClosetSidebarItem */

.MyClosetSidebarItemButton {
  margin: 2px;
  background-color : #662d91;
}

.MyClosetSidebarItemButton > button:hover {
  background-color : #662d91;
  color: white;
}

.MyClosetSidebarItemButton > button {
  border: 0;
  outline: 0;
  color: white;
  background-color : #ed6991;
}

/* .RadioForm {
  display: inline;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-attachment: fixed;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  /* width: 100%; */
/* } */ */

.form-check-input {
  margin: 4px;
}