/* MyClosetClothesItem */

.MyClosetClothesItemImg {
  transition: all 0.2s linear;
  height: 250px;
  width: 250px;
}

/* MyClosetSidebarItem */

.MyClosetSidebarItemButton {
  margin: 2px;
  background-color: #662d91;
}

.MyClosetSidebarItemButton > button:hover {
  background-color: #662d91;
  color: white;
}

.MyClosetSidebarItemButton > button {
  border: 0;
  outline: 0;
  color: white;
  background-color: #ed6991;
  height: 70px;
}

.form-check-input {
  margin: 4px;
}

.myClothes__card {
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px #d3d3d3;
}

.card:hover {
  transform: scale(1.1, 1.1);
  background-color: white;
}

.btn:active {
  box-shadow: inset 0 0 2px #ed6991, 0 0 13px #ed6991;
}

.create__color {
  display: flex;
}

.create__colorItem {
  display: flex;
}

.create__colorLabel {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 8px;
  border: 1px #f2f2f2 solid;
}

.tabs {
  width: 100%;
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
}
.tab {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: -0.6px;
  text-align: left;
  color: #EA8FAA !important;
}

.tab:active {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: -0.6px;
  text-align: left;
  background-color: #EA8FAA !important;
  color: white !important;
}
.tab:hover {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: -0.6px;
  text-align: left;
  background-color: #EA8FAA !important;
  color: white !important;
}
.tab:focus {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: -0.6px;
  text-align: left;
  background-color: #EA8FAA !important;
  color: white !important ;
}
